#fond_menu_admin {
  /*Position*/
  position: relative;
  top: 100px;

  /*Dimensions*/
  padding-bottom: 20px;

  /*Style*/
  border: solid 1px var(--main);
}

.grid_admin_col {
  /*Grid*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.col_admin {
  /*Flex*/
  display: flex;
  justify-content: top;
  align-items: left;
  flex-direction: column;
}

.titre_col {
  /*Dimensions*/
  height: 50px;
  padding: 0px 10px 0px 10px;
  margin-bottom: 10px;

  /*Style*/
  font-weight: bold;
  border-bottom: solid 1px var(--main);

  /*Flex*/
  display: flex;
  align-items: center;
}

.elm_col {
  /*Dimensions*/
  padding: 0px 10px 0px 10px;
  height: 50px;

  /*Flex*/
  display: flex;
  align-items: center;
}

.select_role {
  /*Position*/
  padding-right: 5px;

  /*Dimensions*/
  border-radius: 20px;

  /*Style*/
  border: 1px solid var(--main);
}
