.grid_connexion {
  /*Grille*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px auto;
}

.grid_connexion_form {
  /*Grille*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px 90px 50px 80px 40px 20px 0px;
}

.grid_inscription {
  /*Grille*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 230px auto;
}

.grid_inscription_form {
  /*Grille*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 83px);
}

.grid_mdp_oublie {
  /*Grille*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 230px 100px auto;
}

.grid_mdp_oublie_form {
  /*Grille*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 83px);
}

.grid_reset_mdp {
  /*Grille*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 230px 50px auto;
}

.grid_reset_mdp_form {
  /*Grille*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 83px);
}

.grid_non_accepte {
  /*Grille*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 230px 100px 100px;
}

.renseignement_connexion {
  /*Position*/
  position: relative;
  margin-bottom: 10px;

  /*Dimensions*/
  width: 100%;
}

.mdp_oublie {
  /*Position*/
  position: absolute;
  right: 0px;

  /*Dimensions*/
  height: 100%;

  /*Texte*/
  color: var(--main);
}

.mdp_oublie:hover {
  /*Position*/
  right: -1px;

  /*Style*/
  font-weight: bold;
}

.remember_mdp_oublie_line {
  /*Position*/
  position: relative;

  /*Dimensions*/
  width: 100%;
  height: 30px;
}

.remember {
  /*Position*/
  position: absolute;
  left: 0px;

  /*Dimensions*/
  height: 100%;
}

.to_inscription {
  /*Texte*/
  color: var(--main);

  /*Style*/
  cursor: pointer;
}

.to_inscription:hover {
  /*Style*/
  font-weight: bold;
}

.txt_mdp_oublie {
  /*Dimensions*/
  max-width: 700px;
  padding: 0px 20px 0px 20px;

  /*Style*/
  color: var(--wht);
}
