.grid_accueil {
  /*Grille*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px 120px 100px auto;

  /*Animation*/
  transition: 0.5s;
}

.grid_form {
  /*Grille*/
  display: grid;
  grid-template-columns: 1fr;
}

.plage_vignette {
  /*Position*/
  position: relative;
  margin-bottom: 20px;

  /*Dimensions*/
  width: 100%;
  height: 100%;

  /*Autre*/
  transition: 0.5s;
  flex-wrap: wrap;
}

#plage_recherche {
  /*Dimensions*/
  width: 100%;

  /*Flex*/
  display: flex;
  flex-direction: column;
}

#input_recherche {
  /*Position*/
  margin-bottom: 15px;

  /*Dimensions*/
  height: 30px;
  width: 100%;

  /*Texte*/
  font-size: 1.5em;
}

.btn_recherche {
  /*Position*/
  margin-bottom: 20px;
  margin-top: 15px;

  /*Flex*/
  gap: 20px;
}

.pqt {
  /*Position*/
  position: relative;
  margin: auto;
}

.anim_entry {
  /*Animation*/
  animation: entry 0.8s forwards ease-in-out;
}

@keyframes entry {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.titre_pqt_vignette {
  /*Position*/
  position: relative;

  /*Style
  text-shadow: 1px 1px 2px var(--main);*/
}

.trait_pqt_vignette {
  /*Position*/
  position: absolute;
  top: 50px;

  /*Dimensions*/
  height: 2px;
  width: 400px;

  /*Gégéral*/
  content: "";

  /*Hover
  transition: 0.3s;*/
}

.cancel {
  /*Position*/
  position: absolute;
  top: 90px;

  /*Dimensions*/
  width: 100px;
  height: 30px;

  /*Style*/
  color: var(--main);
  cursor: pointer;

  /*Animation*/
  transition: 0.3s;
}

.cancel:hover {
  /*Style*/
  font-weight: bold;
}

.ctn_search {
  /*Position*/
  position: absolute;

  /*Dimensions*/
  width: 100%;

  /*Animation*/
  transition: 0.5s;
}

.ctn_cat {
  /*Dimensions*/
  height: 130px;
  padding: 10px 20px 10px 20px;

  /*Style*/
  border-top: solid 1px var(--main);
  border-bottom: solid 1px var(--main);

  /*Flex*/
  gap: 20px;
  flex-wrap: wrap;

  /*Autre*/
  overflow-y: auto;
}

.ctn_cat::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--blk); /* or add it to the track */
}

.ctn_cat::-webkit-scrollbar-thumb {
  background: var(--main);
  border-radius: 8px;
}
