header {
  /*Position*/
  position: absolute;
  z-index: 2;

  /*Dimensions*/
  height: 50px;
  width: 100%;
}

.bandeau_header {
  /*Dimensions*/
  height: 100%;
}

.paquet_user {
  /*Position*/
  position: absolute;
  top: 0px;

  /*Dimensions*/
  height: 100%;
}

.fleche_menu_user {
  /*Dimensions*/
  margin-left: 7px;

  /*Style*/
  cursor: pointer;
}

.menu_deroulant {
  /*Position*/
  position: absolute;
  top: 50px;

  /*Dimensions*/
  width: 150px;

  /*Style*/
  background-color: var(--color-text);

  /*Animation*/
  animation: open_menu_deroulant 0.2s linear;
}

@keyframes open_menu_deroulant {
  0% {
    top: 0px;
    opacity: 0;
  }
  80% {
    top: 32px;
    opacity: 0.8;
  }
  100% {
    top: 30px;
    opacity: 1;
  }
}

@keyframes close_menu_deroulant {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0px;
    opacity: 0;
  }
}

.bouton_menu_deroulant {
  /*Dimensions*/
  width: 70%;
  height: 40px;
  width: 100%;

  /*Style*/
  color: var(--main-color);
  cursor: pointer;
  text-decoration: none;

  /*Hover*/
  transition: 0.5s;
}

.bouton_menu_deroulant:hover {
  /*Style*/
  background-color: var(--main-color);
  color: var(--color-text);
}

.paquet_btn_admin {
  /*Position*/
  position: relative;
  height: 100%;
}

.notif {
  /*Position*/
  position: absolute;
  top: 8px;
  justify-content: center;
  text-align: center;

  /*Dimensions*/
  height: 18px;
  width: 18px;
  border-radius: 9px;

  /*Style*/
  background-color: rgb(200, 0, 0);

  /*Texte*/
  font-size: small;
  color: var(--color-text);
}

#menu_header,
#btn_plus,
#btn_icon_modify {
  /*Dimensions*/
  height: 34px;
  width: 34px;
  padding: 8px;

  /*Style*/
  color: var(--color-text);

  /*Hover*/
  transition: 0.5s;
  cursor: pointer;
}

.icone_user {
  /*Position*/
  margin: 8px;
}

.paquet_user {
  /*Style*/
  cursor: pointer;
}

.centre_mobile {
  /*Position*/
  position: absolute;
  right: 44px;
  top: 0px;
  bottom: 0px;
}
