.bouton_menu {
  /*Position*/
  position: relative;

  /*Centrage*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  /*Dimensions*/
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;

  /*Style*/
  color: var(--wht);
  text-decoration: none;
  cursor: pointer;

  /*Animation*/
  transition: 0.5s;

  /*Texte*/
  font-family: "Roboto";
  font-size: 1.3em;
  font-weight: bold;
}

.bouton_menu:hover {
  background-color: rgba(48, 48, 48);
}
