@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Manrope:wght@200&family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Cookie&family=Manrope:wght@200&family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

html {
  /*Variables Générales*/
  --main: rgb(189, 127, 64);
  --main-hv: rgb(162, 105, 43);
  --blk: rgb(30, 30, 30);
  --wht: rgb(250, 250, 250);
  --red: rgb(200, 0, 0);
  --blk-tpr: rgb(30, 30, 30, 0.7);
  --color-background: rgb(255, 135, 135, 0.2);
  --color-hover: rgb(150, 150, 150);
  --color-shadow: rgb(100, 100, 100);
}

.checkbox {
  /*Dimensions*/
  width: 20px;
  height: 100%;
  margin: 0px 5px 0px 0px;

  /*Style*/
  accent-color: var(--main);
  cursor: pointer;
}

.relatif {
  /*Position*/
  position: relative;

  /*Dimensions*/
  min-height: 100vh;

  /*Autre*/
  overflow-x: hidden;
}

.board {
  /*Position*/
  position: static;
  z-index: -1;
  padding-top: 70px;
  padding-bottom: 25px;

  /*Dimensions*/
  width: 100%;
  min-height: 100%;

  /*Centrage*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.non_selectionnable {
  /*Texte non sélectionnable*/
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.board_menu_suppl {
  /*Position*/
  position: fixed;
  z-index: 2;
  top: 0px;

  /*Dimensions*/
  width: 100vw;
  height: 100%;

  /*Style*/
  backdrop-filter: blur(8px);

  /*Grille*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0px auto;

  /*Autre*/
  transition: 0.5s;
  overflow-x: hidden;
  overflow-y: scroll;
}

.input {
  /*Position*/
  position: relative;
  padding-left: 30px;
  left: -17px;

  /*Dimensions*/
  height: 50px;
  width: 100%;

  /*Style*/
  border: solid 1px var(--main);
  border-radius: 35px;
  outline-color: var(--main);
  outline-width: 1px;

  /*Texte*/
  font-size: 1.3em;
}

.button {
  /*Dimensions*/
  height: 50px;
  width: 180px;

  /*Style*/
  border-radius: 30px;

  /*Texte*/
  font-size: 1.5em;
  text-align: center;
}

.button_tel {
  /*Dimensions*/
  height: 40px;
  width: 150px;

  /*Style*/
  border-radius: 30px;

  /*Texte*/
  font-size: 1.3em;
}

.button,
.button_tel {
  /*Style*/
  background-color: var(--main);
  cursor: pointer;

  /*Flex*/
  display: flex;
  justify-content: center;
  align-items: center;

  /*Texte*/
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

  /*Animation*/
  transition: 0.3s;
}

.button:hover,
.button_tel:hover {
  /*Style*/
  background-color: var(--main-hv);
}

.elements_centre {
  /*Centrage*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.align_gauche {
  /*Centrage*/
  display: flex;
  justify-content: left;
  align-items: left;
}

.texte_centre {
  /*Centrage*/
  text-align: center;
}

.decalage_bandeau {
  /*Dimensions*/
  margin-top: 150px;
}

.non_select {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gras {
  /*Texte*/
  font-weight: bold;
}

.souligne {
  /*Texte*/
  text-decoration: underline;
}

.ligne {
  /*Flex*/
  display: flex;
  flex-direction: row;
}

.paquet_cat,
.pqt_boutons {
  /*Flex*/
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  /*Dimensions*/
  width: 100%;
}

.categorie {
  /*Position*/
  position: relative;

  /*Dimensions*/
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  margin: 10px;

  /*Style*/
  background-color: var(--main-color);
  color: var(--color-text);
  border-radius: 5px;
}

.categorie_nom,
.categorie_nom_admin {
  /*Texte*/
  font-size: 1.5em;

  /*Hoover*/
  transition: 0.2s;
}

.categorie_nom_admin:hover {
  /*Style*/
  color: var(--red);
}

.colonne {
  /*Flex*/
  display: flex;
  flex-direction: column;
}

.ligne {
  /*Flex*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.texte_taille_1 {
  /*Texte*/
  font-size: 1em;
}

.texte_taille_2 {
  /*Texte*/
  font-size: 1.3em;
}

.texte_taille_3 {
  /*Texte*/
  font-size: 1.6em;
}

.texte_taille_4 {
  /*Texte*/
  font-size: 1.9em;
}

.texte_taille_5 {
  /*Texte*/
  font-size: 2.2em;
}

.texte_taille_1,
.texte_taille_2,
.texte_taille_3,
.texte_taille_4,
.texte_taille_5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.texte_centre {
  /*Position*/
  text-align: center;
  justify-content: center;
}

.couleur_texte {
  color: var(--color-text);
}

.margin_auto {
  /*Position*/
  margin: auto;
}

.link {
  /*Style*/
  text-decoration: none;
}
