.selected,
.non_selected {
  /*Position*/
  position: relative;

  /*Dimensions*/
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  margin: 10px;

  /*Style*/
  border-radius: 5px;

  /*Texte*/
  font-size: 1.5em;

  /*Hover*/
  transition: 0.5s;
}

.selected {
  background-color: var(--main-color);
  color: var(--color-text);
}

.non_selected {
  background-color: var(--color-text);
  color: var(--main-color);
}

.selected:hover,
.non_selected:hover {
  /*Style*/
  cursor: pointer;
}

.paquet_modif_cat {
  /*Flex*/
  flex-wrap: wrap;
}
