#menu_modif_nom_categorie {
  /*Position*/
  margin: auto;

  /*Grille*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 100px 100px;
}

.titre_modif_cat {
  /*Dimensions*/
  padding: 0px 10px 0px 10px;

  /*Style*/
  text-align: center;
}
